osource "/home/zekaixiao/Documents/nRF_dev/SPI/boards/shields/*/Kconfig.shield"
osource "/home/zekaixiao/Documents/nRF_dev/central_uart/boards/shields/*/Kconfig.shield"
osource "/home/zekaixiao/Documents/nRF_dev/JY901B/boards/shields/*/Kconfig.shield"
osource "/home/zekaixiao/ncs/v2.8.0/nrf/boards/shields/*/Kconfig.shield"
