#
# Copyright (c) 2026
# SPDX-License-Identifier: Apache-2.0
#

mainmenu "BioSpur UWB master OTA"

source "/home/zekaixiao/ncs/v2.8.0/zephyr/Kconfig.constants"
source "/home/zekaixiao/ncs/v2.8.0/nrf/lib/dk_buttons_and_leds/Kconfig"
source "/home/zekaixiao/ncs/v2.8.0/nrf/subsys/bluetooth/Kconfig"
source "/home/zekaixiao/ncs/v2.8.0/nrf/subsys/bluetooth/services/Kconfig"

source "Kconfig.zephyr"
