/ {
	chosen {
		zephyr,console = &rtt0;
		zephyr,shell-uart = &rtt0;
		/* Logical USB CDC interface 0 is reserved for MCUmgr/SMP. */
		zephyr,uart-mcumgr = &cdc_acm_uart0;
	};
};

&zephyr_udc0 {
	cdc_acm_uart0: cdc_acm_uart0 {
		compatible = "zephyr,cdc-acm-uart";
		/* Interface 0: MCUmgr/SMP control plane. */
		interface-string = "BioSpur-SMP";
		status = "okay";
	};

	cdc_acm_uart1: cdc_acm_uart1 {
		compatible = "zephyr,cdc-acm-uart";
		/* Interface 1: sensor/runtime data plane. */
		interface-string = "BioSpur-Data";
		status = "okay";
	};

	rtt0: rtt_chan0 {
		compatible = "segger,rtt-uart";
		status = "okay";
	};
};

&uart0 {
	status = "disabled";
};

&qspi {
	status = "disabled";
};

&mx25r64 {
	status = "disabled";
};
